.Connexion .Connexion {
  width: 375px;
  height: 812px;
  flex-grow: 0;
  padding: 0 0 132px;
  border-radius: 40px;
  background-color: #ffffff;
}

.Connexion .f80cc1049c4545beba256a2dedeea4cc-2 {
  width: 250px;
  height: 250px;
  margin: 41px 51px 41px 74px;
}

.Connexion .Button-Large-Primary {
  width: 335px;
  height: 52px;
  margin: 40px 20px;
  padding: 18.5px 117px;
  border-radius: 50px;
  border: solid 0.5px #323f4b;
  background-color: #2f64ed;
}

.Connexion .Connexion {
  width: 101px;
  height: 15px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.25px;
  text-align: center;
  color: #ffffff;
}

.Connexion .Input-Field-Text-Labeled-Unfilled {
  width: 343px;
  height: 68px;
  margin: 41px 16px 12px;
  padding: 1px 0 0;
}

.Connexion .Input-Field-Text-Inactive-To-be-filled-with {
  width: 343px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin: 7px 0 0;
  padding: 12px;
  border-radius: 8px;
  border: solid 0.5px #7b8794;
  background-color: #ffffff;
}

.Connexion .Frame-165 {
  width: 319px;
  height: 24px;
  align-self: center;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 0;
}

.Connexion .exempleemailcom {
  width: 283px;
  height: 24px;
  flex-grow: 0;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7b8794;
}

.Connexion .E-mail {
  width: 50px;
  height: 12px;
  margin: 0 285px 7px 8px;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: left;
  color: #323f4b;
}

.Connexion .Input-Field-Text-Labeled-Icon-Unfilled {
  width: 343px;
  height: 68px;
  margin: 12px 16px 40px;
  padding: 1px 0 0;
}

.Connexion .Mot-de-passe {
  width: 106px;
  height: 12px;
  margin: 0 229px 7px 8px;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.5px;
  text-align: left;
  color: #323f4b;
}

.Connexion .System-Bars-Status-Bar-iPhone-Light {
  width: 375px;
  height: 44px;
  margin: 0 0 41px;
  padding: 7px 14.3px 11px 21px;
  background-color: #ffffff;
}

.Connexion .Wifi {
  width: 15.3px;
  height: 11px;
  margin: 10.3px 5px 4.7px 5px;
  background-color: #000000;
}

.Connexion .Wifi-path {
  width: 15.3px;
  height: 4.8px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Wifi-path {
  width: 10px;
  height: 3.6px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Wifi-path {
  width: 4.6px;
  height: 3.4px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Cellular-Connection {
  width: 17px;
  height: 10.7px;
  margin: 10.7px 5px 4.7px 219px;
  background-color: #000000;
}

.Connexion .Cellular-Connection-path {
  width: 3px;
  height: 4px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Cellular-Connection-path {
  width: 3px;
  height: 6px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Cellular-Connection-path {
  width: 3px;
  height: 8.3px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Cellular-Connection-path {
  width: 3px;
  height: 10.7px;
  flex-grow: 0;
  background-color: #000000;
}

.Connexion .Time-Style {
  width: 54px;
  height: 21px;
  margin: 0 219px 5px 0;
}

.Connexion time {
  width: 54px;
  height: 20px;
  margin: 6px 219px 0 0;
  font-family: Cairo;
  font-size: 15px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.24px;
  text-align: center;
  color: #000000;
}

.Connexion .Pas-encore-de-compte- {
  width: 187px;
  height: 24px;
  margin: 40px 4px 0 53px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #7b8794;
}

.Connexion .Inscription {
  width: 80px;
  height: 24px;
  margin: 40px 51px 0 4px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #2f80ed;
}
